.intro{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.intro h2{
    font-size: 1.5em;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.25px;
}

.intro p{
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
}

@media only screen and (max-width: 768px) {
    .intro{
        margin-top: 130px;
        margin-bottom: 25px;
    }
    .intro h2{
        font-size: 1.7em;
    }
    .intro p{
        font-size: 1.2em;
    }

}
@media only screen and (max-width: 550px) {
    .intro{
        margin-top: 100px;
        margin-bottom: 15px;
    }
    .intro h2{
        font-size: 1.4em;
    }
    .intro p{
        font-size: 0.9em;
    }

}
