.signature{
    margin: 20px 5% 5px 5%!important;
}

#signature{
    text-align: center;
    padding: 20px 30px 20px 30px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    outline: none;
    font-size: 1.5em;
    font-family: cursive;
    border-radius: 3px;
    border: 1px dotted #0080ff

}

#signature:hover{
    border: 1px solid #0080ff;
}

