* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*I prefer to use border box*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    line-height: 140%;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 100;
}

body{
    background: linear-gradient( rgba(70, 70, 70, 0.8), rgba(70, 70, 70, 0.8)), url(images/ss.png);
    background-size: cover;
}

li{
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}




